@model CreateProductCommand
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Product</h1>

<form method="post">
    <label>Product Name</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Price</label>
    <input type="text" asp-for="Price" class="form-control"/>
    <br />
    <label>Stock</label>
    <input type="text" asp-for="Stock" class="form-control"/>
    <br />
    <label>Category</label>
    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categories"></select>
    <br />
    <button class="btn btn-dark">Save</button>

</form>

